<footer>
  <div class="language">
    <select>
      <option value="english" selected>English</option>
    </select>
  </div>
  <div class="menu">
    <ul>
      <li><a href="">Terms of Service</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Downloads</a></li>
      <li><a href="">Contact FIFA</a></li>
      <li><a href="">Mobile Apps</a></li>
      <li><a href="">Widgets</a></li>
      
    </ul>
  </div>
  <div class="copy-right">Copyright ©1994 - 2017 FIFA. All rights reserved</div>
  <div class="social-icons">
    <ul>
      <li><a href="" class="twitter-icon fa fa-twitter"></a></li>
      <li><a href="" class="facebook-icon fa fa-facebook"></a></li>
      <li><a href="" class="instagram-icon fa fa-instagram"></a></li>
      <li><a href="" class="youtube-icon fa fa-youtube"></a></li>
      <li><a href="" class="linkedin-icon fa fa-linkedin"></a></li>
    </ul>
  </div>
</footer>
